/* MODAL */
.modal-container {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

.modal {
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 2rem;
    width: 30em;
}

.btn{
    border: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
    font-size: 1.5rem;
}

.btn-submit{
    background-color: #2A7AE4;
}

.btn-cancel{
    background-color: #53585D;
}

.modal-close{
    display: inline-block;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ccc;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}

.modal-close:hover{
    color: #ffffff;
    background-color: #2A7AE4;
}

.modal-header{
    display: flex;
    justify-content: flex-end;
}

.modal-content{
    margin-bottom: 2rem;
}

.modal-footer{
    display: flex;
    justify-content: space-evenly;
}

/* MODAL REACT */
/* Estilos para el overlay (fondo detrás del modal) */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: 1000; /* Asegura que el modal esté en la parte superior */
  }
  
  /* Estilos para el contenido del modal */
  .ReactModal__Content {
    background-color: #fff; /* Color de fondo del modal */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    width: 40%; /* Ancho del modal */
    height: 30%;
    margin: 0 auto; /* Centrar horizontalmente */
  }

  .modal_header{
    display: flex;
    justify-content: right;
  }

  .modal_content{
        margin: 20px 0;
  }

  .modal_content h2{
    margin: 10px 0;
  }


  .modal_btn{
    border: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
    font-size: 1.5rem;
  }

  .modal_btn-ok{
    background-color: #2A7AE4;
  }

  .modal_btn-no{
    background-color: red;
  }

  .Modal_footer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  .btn_cancel{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
  }

  .btn_cancel:hover{
    color: #fff;
    background-color: #2A7AE4;
  }